@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */

body {
  font-family: pretendard;
}

.hum_btn_wrapper {
  @apply flex flex-col justify-center items-center md:hidden;
}

.hum_lines {
  @apply bg-white block transition-all duration-300 ease-out h-0.5 w-6 rounded-sm;
}

.menu_items {
  @apply flex justify-between max-w-[1236px] w-full max-md:flex-col max-md:absolute max-md:h-[calc(100vh-88px)] max-md:w-5/6 top-[100px] max-md:p-5 gap-y-5 overflow-y-auto duration-300 ease-in-out;
}

.menu_item_wrapper {
  @apply flex max-w-[872px] w-full justify-around max-md:flex-col max-md:gap-y-4;
}

.nav_right_section {
  @apply flex max-w-[137px] w-full justify-between;
}

.main_content_wrapper {
  @apply bg-primary_background w-full pt-[157px] max-md:pt-[59px] pb-[60px] max-md:pb-[36px] flex-wrap;
}

.main_content_rounded_box {
  @apply rounded-full w-[211px] h-[211px] max-md:w-[85px] max-md:h-[85px] flex flex-col justify-center items-center gap-y-2;
}

.bg-outer {
  @apply bg-primary-gradient;
}

.bg-inner {
  @apply bg-brand_gray scale-[.97];
}

.rounded_item_header {
  @apply max-w-[143px] text-2xl font-bold max-md:text-xs leading-[120%] max-md:leading-[110%];
}

.general_rounded_wrapper {
  @apply flex flex-wrap bg-light_black justify-between rounded-full max-w-[594px] w-full py-[23px] px-[53px] mt-[18px];
}

.rounded_item_desc {
  @apply text-base font-medium max-md:hidden;
}

.main_content_cards_wrapper {
  @apply mt-10 max-md:mt-7 max-md:mb-[38px] mb-[68px] flex justify-center;
}

.cards_wrapper {
  @apply bg-primary_background w-full flex justify-between max-md:flex-wrap items-center gap-x-3 max-md:justify-center max-md:gap-y-10 box-border px-16 max-md:px-5;
}

.ploonet_rounded_wrapper {
  @apply w-full flex flex-col items-center justify-center relative;
}

.main_content_desc_wrapper {
  @apply flex flex-col gap-y-4 max-w-[662px] w-full mb-24 max-md:mb-[38px];
}

.main_content_description {
  @apply text-[20px] leading-[32px] font-bold max-md:text-base max-md:font-normal max-md:leading-[24px];
}

.main_prev_wrapper {
  @apply px-[18px] max-md:px-[9px] py-1 mt-[99px] max-md:mt-[38px];
}

.main_content_prev_works {
  @apply text-5xl font-bold max-md:text-[20px];
}

.prod_title {
  @apply font-bold text-[44px] leading-[140%] max-md:text-[22px] max-md:leading-[32px] text-[#d9d9d9];
}

.horizontal_line {
  max-width: 800px;
  width: 100%;
  height: 1px;

  background: linear-gradient(90deg,
      rgba(255, 255, 255, 0) 0%,
      #ffffff 53.75%,
      rgba(255, 255, 255, 0) 100%);
  opacity: 0.4;
}